html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  display: block;
  width: 100%
}

h2 {
  color: #fff;
  font-size: 4rem;
  font-family: "Open Sans",sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
}

p {
  font-family: "Open Sans",sans-serif;
  font-size: 2rem;
  font-style: italic;
}

.banner {
  max-height:500px;
  overflow: hidden;
  position: relative;;
  bottom: 0;
}
.banner-head {
  max-width: 45rem;
  width: 100%;
  left: 50%;
  display: inline-block;
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
}
